fastapi==0.120.0
uvicorn==0.38.0
azure-cosmos==4.14.5
azure-identity==1.25.1
python-dotenv==1.2.3
azure-ai-projects==2.5.0
azure-search-documents==11.7.0b2
azure-ai-evaluation>=1.0.0b5
azure-storage-blob>=12.20.0
json-repair==0.61.7
PyJWT>=2.8.0
